<html>
<head>
    <title>Data Pengguna</title>
</head>
<body>
    <h1>Daftar Pengguna</h1>
    <a href="{{ url_for('tambah') }}">Tambah Data</a>
    <br><br>

    {% if users %}
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Nama</th>
            <th>Usia</th>
            <th>Kota</th>
            <th>Aksi</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>
                <a href="{{ url_for('edit', id=user[0]) }}">Edit</a> |
                <a href="{{ url_for('delete', id=user[0]) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    {% endif %}
</body>
</html>
